{%extends 'layout.njk'%}


{%block content%}

<div class="modal point">
        <div class="modal-content">
            <img src="/assets/check.svg" alt="Checked">
            <h1>Cadastro concluído</h1>
            
        </div>
    </div>
    <script>

        setTimeout(()=>{
        window.location = "/"
        }, 2000)

    </script>
{%endblock%}